

        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Group Name</span>
                <input type="text" placeholder="Type group name here..." ng-model="myGroup.name">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input type="text" placeholder="Describe your group here..." ng-model="myGroup.description">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Location</span>
                <input type="text" placeholder="Type group location here..." ng-model="myGroup.city">
            </label>
        </div>
