<ion-view title="Project Details">

    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <a class="button" ng-if="isMine(project)" href="#/app/projects/{{project.id}}/edit">
            Edit
        </a>
    </ion-nav-buttons>

    <ion-tabs class="tabs-striped tabs-color-positive">

        <ion-tab title="Home" icon-on="ion-ios-information" icon-off="ion-ios-information-outline">
            <ion-view>
                <ion-content has-header="true" padding="false">
                    <div ng-include data-src="'templates/projects/partial/project-detail.html'"></div>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="About" icon-on="ion-ios-albums" icon-off="ion-ios-albums-outline">
            <ion-view>
                <ion-content has-header="true" padding="true">
                    <div ng-include data-src="'templates/cards/card-view-list.html'"></div>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="Settings" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline">
            <ion-view>
                <ion-content has-header="true" padding="false">
                    <div ng-include data-src="'templates/projects/partial/project-comments.html'"></div>
                </ion-content>
            </ion-view>
        </ion-tab>

    </ion-tabs>



</ion-view>
