<ion-view title="Project Comments">

    <ion-nav-buttons side="left">
    </ion-nav-buttons>



    <ion-content class="has-header">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <input type="search" placeholder="Add a comment..." ng-model="comment.content">
            </label>
            <button class="button button-clear" ng-click="postComment(comment)">
                <i class="icon ion-paper-airplane"></i>
            </button>
        </div>

        <div class="list">
            <a class="item item-avatar"  collection-repeat="comment in comments"
               ui-sref="">
                <img ng-src="img/{{comment.username}}.jpg">
                <h2>{{comment.username}} - {{ comment.commentDate | date:'short' }}</h2>
                <p><i class="icon ion-location"> {{comment.content}}</i></p>
            </a>
        </div>

    </ion-content>



</ion-view>
