
<div ng-controller="ItemCardController">
    <a class="item item-avatar item-avatar-icon positive">
        <i class="icon ion-bag"></i>
        <h2>{{summary.card.name}}</h2>
        <p>{{summary.card.description}}</p>
    </a>

    <div class="row">
        <div class="col">
            <div ng-show="summary.card.minimum">
                <p class="statistic">
                    <b>{{summary.card.minimumItem}}</b>
                    <br>
                <p class="statistic-label">Required</p>
                </p>
            </div>
        </div>
        <div class="col">
            <p class="statistic">
                <b>{{summary.card.items}}</b>
                <br>
            <p class="statistic-label">Provided</p>
            </p>
        </div>
        <div class="col">
            <p class="statistic">
                <b>{{summary.card.maximumItem - summary.card.items}}</b>
                <br>
            <p class="statistic-label">Remaining</p>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col col-center">
            <p class="statistic">
                <b>{{summary.card.contributions}}</b>
                <br>
            <p class="statistic-label">Votes</p>
            </p>

        </div>
        <div class="col">

        </div>
        <div class="col col-center" ng-click="provide(project, summary.card)">
            <button class="button button-clear button-positive">
                Provide
            </button>
        </div>
    </div>

    <div data-ng-include data-src="'templates/cards/item/item-card-contribution.html'"></div>
</div>