
<div ng-controller="ParticipantCardController">
    <a class="item item-avatar item-avatar-icon positive">
        <i class="icon ion-person-stalker"></i>
        <h2>{{summary.card.name}}</h2>
        <p>{{summary.card.description}}</p>
    </a>
    <div class="row">
        <div class="col">
            <div ng-show="summary.card.minimum">
                <p class="statistic">
                    <b>{{summary.card.minimumParticipant}}</b>
                    <br>
                <p class="statistic-label">Minimum</p>
                </p>
            </div>
        </div>
        <div class="col">
            <p class="statistic">
                <b>{{summary.card.participants}}</b>
                <br>
            <p class="statistic-label">Participants</p>
            </p>
        </div>
        <div class="col">
            <p class="statistic">
                <b>{{summary.card.maximumParticipant - summary.card.participants}}</b>
                <br>
            <p class="statistic-label">Remaining</p>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col col-center">
            <p class="statistic">
                <b>{{summary.card.contributions}}</b>
                <br>
            <p class="statistic-label">Votes</p>
            </p>

        </div>
        <div class="col">

        </div>
        <div class="col col-center" ng-click="participate(project, summary.card)">
            <button class="button button-clear button-positive">
                Participate
            </button>
        </div>
    </div>
    <div data-ng-include data-src="'templates/cards/participant/participant-card-contribution.html'"></div>
</div>




