<div ng-repeat="card in project.cards">
    <div ng-if="card.type == 'availability' ">
        <div ng-include data-src="'templates/cards/availability/availability-card-view.html'"></div>
    </div>
    <div ng-if="card.type == 'item' ">
        <div ng-include src="'templates/cards/item/item-card-view.html'"></div>
    </div>
    <div ng-if="card.type == 'participant' ">
        <div ng-include src="'templates/cards/participant/participant-card-view.html'"></div>
    </div>
    <div ng-if="card.type == 'money' ">
        <div ng-include src="'templates/cards/money/money-card-view.html'"></div>
    </div>
    <div ng-if="card.type == 'advice' ">
        <div ng-include src="'templates/cards/advice/advice-card-view.html'"></div>
    </div>
    <div ng-if="card.type == 'survey' ">
        <div ng-include src="'templates/cards/survey/survey-card-view.html'"></div>
    </div>
</div>