<div ng-repeat="card in project.cards">
    <div ng-if="card.type == 'date' ">
        <div ng-include data-src="'templates/cards/date/date-card-preview.html'"></div>
    </div>
    <div ng-if="card.type == 'item' ">
        <div ng-include src="'templates/cards/item/item-card-preview.html'"></div>
    </div>
    <div ng-if="card.type == 'participant' ">
        <div ng-include src="'templates/cards/participant/participant-card-preview.html'"></div>
    </div>
    <div ng-if="card.type == 'money' ">
        <div ng-include src="'templates/cards/money/money-card-preview.html'"></div>
    </div>
    <div ng-if="card.type == 'idea' ">
        <div ng-include src="'templates/cards/idea/idea-card-preview.html'"></div>
    </div>
    <div ng-if="card.type == 'survey' ">
        <div ng-include src="'templates/cards/survey/survey-card-preview.html'"></div>
    </div>
</div>