<ion-view title="Add Card">
    <ion-content
            class="has-header">
        <a class="item item-icon-left" ui-sref="app.card-new({ projectId: project.id , type: 'item'})">
            <i class="icon ion-bag"></i>
            Items
        </a>
        <a class="item item-icon-left" ui-sref="app.card-new({ projectId: project.id , type: 'participant'})">
            <i class="icon ion-person-stalker"></i>
            Participant
        </a>
        <a class="item item-icon-left" ui-sref="app.card-new({ projectId: project.id , type: 'date'})">
            <i class="icon ion-clock"></i>
            Date
        </a>
        <a class="item item-icon-left" ui-sref="app.card-new({ projectId: project.id , type: 'survey'})">
            <i class="icon ion-stats-bars"></i>
            Survey
        </a>
        <a class="item item-icon-left" ui-sref="app.card-new({ projectId: project.id , type: 'money'})">
            <i class="icon ion-cash"></i>
            Money
        </a>
        <a class="item item-icon-left" ui-sref="app.card-new({ projectId: project.id , type: 'idea'})">
            <i class="icon ion-lightbulb"></i>
            Idea
        </a>


    </ion-content>
</ion-view>
