<ion-view title="Edit Card">

    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button" ng-click="showAction(project, card)">
            Edit
        </a>
    </ion-nav-buttons>

    <ion-content
            class="has-header">
        <div ng-if="card.type == 'availability' ">
            <div ng-include data-src="'templates/cards/availability/availability-card-edit.html'"></div>
        </div>
        <div ng-if="card.type == 'item' ">
            <div ng-include src="'templates/cards/item/item-card-edit.html'"></div>
        </div>
        <div ng-if="card.type == 'participant' ">
            <div ng-include src="'templates/cards/participant/participant-card-edit.html'"></div>
        </div>
        <div ng-if="card.type == 'money' ">
            <div ng-include src="'templates/cards/money/money-card-edit.html'"></div>
        </div>
        <div ng-if="card.type == 'idea' ">
            <div ng-include src="'templates/cards/idea/idea-card-edit.html'"></div>
        </div>
        <div ng-if="card.type == 'survey' ">
            <div ng-include src="'templates/cards/survey/survey-card-edit.html'"></div>
        </div>

    </ion-content>
</ion-view>
