<div class="card" ng-controller="DateCardController">

    <a class="item item-divider item-calm" ui-sref="app.card-edit({ projectId: project.id, cardId : card.id })">
        <i class="icon ion-clock"></i>
        {{card.name}}
    </a>

    <div class="item item-text-wrap">

        {{ card.date | date:'short' }}

        <p>
            <a href="#" class="subdued">{{card.contributions}} Contributions</a>
        </p>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
        </a>
        <a class="tab-item">
        </a>
        <a class="tab-item" ui-sref="app.card-edit({ projectId: project.id, cardId : card.id })">
            Edit
        </a>
    </div>

</div>





