<div class="card" ng-controller="DateCardController">

    <a class="item item-divider item-calm" ui-sref="app.card-view({ projectId: project.id, cardId : card.id })">
        <i class="icon ion-clock"></i>
        {{card.name}}
    </a>

    <div class="item item-text-wrap">

        {{ card.date | date:'short' }}

        <p>
            <a href="#" class="subdued">{{project.contributionSize}} Contributions</a>
        </p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">

        </a>
        <a class="tab-item" href="#">

        </a>
        <a class="tab-item" ng-click="provide(project, card)" ng-show="isOpenForContribution(card)">
            <i class="icon ion-navigate"></i>
      		Contribute
        </a>
        <a class="tab-item" href="#" ng-show="!isOpenForContribution(card)">

        </a>
    </div>

</div>





