<div class="card" ng-controller="DateCardController">
    <a class="item item-divider item-calm" ui-sref="app.card-view({ projectId: project.id, cardId : card.id })">
        <i class="icon ion-clock"></i>
        {{card.name}}
    </a>
    
	<div ng-show="card.open">
	  
	  	<div ng-show="!isOpenForContribution(card)">

  		<li class="item item-checkbox" ng-repeat="proposal in card.proposals">
		     {{ proposal.date | date:'short' }}
		     <span class="badge badge-calm">{{proposal.votes}}</span>
		  </li>

		</div>
		<div ng-show="isOpenForContribution(card)">
		  <li class="item item-checkbox" ng-repeat="proposal in card.proposals">
		     <label class="checkbox">
		       <input type="checkbox" ng-model="proposal.selected" value="{{proposal.id}}">
		     </label>
		     {{ proposal.date | date:'short' }}
		     <span class="badge badge-calm">{{proposal.votes}}</span>
		  </li>
		</div>
	</div>
	<div ng-show="!card.open">
		Date is {{ card.date | date:'short' }}
	</div>
	
	
	
    <div class="item item-text-wrap">
        <p>
            <a href="#" class="subdued">{{card.contributionSize}} Votes</a>
        </p>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
        </a>
        <a class="tab-item" href="#">
        </a>
        <a class="tab-item" ng-click="vote(project, card)" ng-show="isOpenForContribution(card)">
            <i class="icon ion-navigate"></i>
      		Vote
        </a>
        <a class="tab-item" href="#" ng-show="!isOpenForContribution(card)">

        </a>
    </div>

</div>





