<div class="card" ng-controller="ItemCardController">

    <a class="item item-divider item-calm" href="#/app/projects/{{project.id}}/cards/{{card.id}}">
        {{card.name}}
    </a>

    <div class="item item-text-wrap">
        <br>Required : {{card.required}}
        <br>Provided :
        {{card.provided}}
        <br>Remaining : {{card.required -
        card.provided}}

        <div class="range">
            <i class="icon ion-volume-low"></i> <input type="range" name="volume">
            <i class="icon ion-volume-high"></i>
        </div>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">

        </a>
        <a class="tab-item" href="#">

        </a>
        <a class="tab-item" ng-click="provide(project, card)">
            <i class="icon ion-share"></i>
            Contribute
        </a>
    </div>

</div>





