<div class="card">

    <div class="item item-divider item-calm" href="#/app/projects/{{project.id}}/cards/{{card.id}}">
        This is an Item
    </div>

    <div class="item item-text-wrap">
        <br>Required : 2
        <br>Provided : 3
        <br>Remaining : 12

        <div class="range">
            <i class="icon ion-volume-low"></i> <input type="range" name="volume">
            <i class="icon ion-volume-high"></i>
        </div>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">

        </a>
        <a class="tab-item" href="#">

        </a>
        <a class="tab-item">
            <i class="icon ion-share"></i>
            Contribute
        </a>
    </div>

</div>





