
<div class="card card-header" ng-controller="AvailabilityCardController" >
    <a class="item item-avatar item-avatar-icon calm" ui-sref="app.card-view({ projectId: project.id, cardId: card.id})">
        <i class="icon ion-clock"></i>
        <h2>{{card.name}}</h2>
        <p>{{card.description}}</p>
    </a>
	<div ng-show="card.open">
  		<li class="item " ng-repeat="proposal in card.proposals">
		     {{ proposal.date | date:'short' }}
		     <span ng-class="['badge badge-palette-2', 'badge badge-palette-3', 'badge badge-palette-4', 'badge badge-palette-5', 'badge badge-palette-6'][$index]">
                 {{proposal.votes}}</span>
        </li>
	</div>
	<div ng-show="!card.open">
		Date is {{ card.date | date:'short' }}
	</div>
    <div class="item item-text-wrap">
        <p>
            <a href="#" class="subdued">{{card.contributions}} rsvp</a>
        </p>
    </div>

</div>

