<ion-view title="Setting">


	<ion-content class="has-header">

	<div class="item item-divider">
		Account
	</div>

	<label class="item item-input item-floating-label">
		<span class="input-label">Username</span>
		<input type="text" placeholder="Name" ng-model="user.username">
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label">email</span>
		<input type="text" placeholder="Name" ng-model="user.email">
	</label>

	<div class="item item-divider">
		Profile
	</div>
	<label class="item item-input item-floating-label">
		<span class="input-label">Name</span>
		<input type="text" placeholder="Name" ng-model="profile.name">
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label">City</span>
		<input type="text" placeholder="City" ng-model="profile.city">
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label">Country</span>
		<input type="text" placeholder="Country" ng-model="profile.country">
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label">Website</span>
		<input type="text" placeholder="Website" ng-model="profile.website">
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label">Biography</span>
		<textarea placeholder="Biography" ng-model="profile.biography" rows="5"></textarea>
	</label>
	<div class="item item-divider">
		Notification
	</div>

	<div class="list list-inset list-transparent" >
		<button class="button button-block button-calm" ng-click="saveProfile(profile)"><b>Apply</b></button>
	</div>


</ion-content> </ion-view>
