
<ion-view title="Notifications" hide-back-button="false">

	<ion-content class="has-header">
		<ion-refresher on-refresh="doRefresh()" spinner="spiral"></ion-refresher>

		<div class="list">
			<a class="item item-avatar"  collection-repeat="notification in notifications"
			   ui-sref="user({username: notification.actor})">

				<img ng-src="img/{{notification.actor}}.jpg" ng-click="goToUser(notification.actor)">

				<h2>{{notification.actor}}</h2>
				<p ng-show="notification.type=='Participation'" ng-click="goToEvent(notification.groupId, notification.eventId)">
					new Participation - <span am-time-ago="notification.notificationDate"></span>
				</p>

			</a>

		</div>

	</ion-content>





</ion-view>
