<ion-view title="Card">

    <ion-nav-buttons side="left">
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content class="has-header">

        <div ng-if="card.type == 'date' ">
            <div ng-include data-src="'templates/cards/date-card-display.html'"></div>
            <div data-ng-include data-src="'templates/cards/date-card-contribution.html'"></div>
        </div>

        <div ng-if="card.type == 'item' ">
            <div ng-include src="'templates/cards/item-card-display.html'"></div>
            <div data-ng-include data-src="'templates/cards/item-card-contribution.html'"></div>
        </div>

</ion-content> </ion-view>
