<ion-view title="Edit Project">
    <ion-content
            class="has-header">


        <label class="item item-input">
            <input type="text" placeholder="First Name" value="{{project.name}}">
        </label>

        <label class="item item-input"> <textarea
                placeholder="Comments">{{project.description}}</textarea>
        </label>


        <button class="button button-positive">Add Card</button>


        <div class="item item-divider">
            <button class="button button-positive">Save</button>

            <button class="button button-positive">Publish</button>

            <button class="button button-positive">Delete</button>
        </div>


    </ion-content>
</ion-view>
