<ion-view title="Setting">
	

<ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>

	<ion-content class="has-header">

	<div class="item item-divider">
		Account
	</div>

	<label class="item item-input item-floating-label">
		<span class="input-label">Username</span>
		<input type="text" placeholder="Name" ng-model="user.username">
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label">email</span>
		<input type="text" placeholder="Name" ng-model="user.email">
	</label>

	<div class="item item-divider">
		Profile
	</div>
	<label class="item item-input item-floating-label">
		<span class="input-label">Name</span>
		<input type="text" placeholder="Name" ng-model="profile.name">
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label">City</span>
		<input type="text" placeholder="City" ng-model="profile.city">
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label">Country</span>
		<input type="text" placeholder="Country" ng-model="profile.country">
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label">Website</span>
		<input type="text" placeholder="Website" ng-model="profile.website">
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label">Biography</span>
		<textarea placeholder="Biography" ng-model="profile.biography"></textarea>
	</label>
	<div class="item item-divider">
		Notification
	</div>



	<div class="item item-divider">
		<button class="button button-block button-positive" ng-click="saveProfile(profile)">Save Changes</button>
	</div>

</ion-content> </ion-view>
