<ion-view title="Sign-Up"> <ion-content class="has-header">

<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>

	<div class="list">

		<label class="item item-input item-floating-label">
			<span class="input-label">Name</span>
			<input type="text" ng-model="signup.name" placeholder="name">
		</label>

		<label class="item item-input item-floating-label">
			<span class="input-label">Username</span>
			<input type="text" ng-model="signup.username" placeholder="username">
		</label>

		<label class="item item-input item-floating-label">
			<span class="input-label">Password</span>
			<input type="password" ng-model="signup.password" placeholder="password">
		</label>

		<label class="item">
			<button class="button button-block button-positive" type="submit">Sign Up</button>
		</label>
		<p ng-show="signin.error" class="help-block">{{signin.error}}</p>

		<label class="item ">
			<button class="button button-block button-outline button-positive" ng-click="goToSignIn()">Already member? Sign In.</button>
		</label>
	</div>

</ion-content> </ion-view>
