<ion-view title="Profile">

    <ion-nav-buttons side="left">
    </ion-nav-buttons>

    <ion-content class="has-header">

        <div class="item item-divider">
            {{summary.user.profile.name}}
        </div>
        <div class="item">
            {{summary.user.profile.biography}}
        </div>

        <div class="row">
            <div class="col">
                <b>{{summary.projectNumber}}</b>
                <br>
                Projects
            </div>
            <div class="col">
                <b>{{summary.contributionNumber}}</b>
                <br>
                Contributions
            </div>
            <div class="col">
                <b>{{summary.followerNumber}}</b>
                <br>
                Followers
            </div>
        </div>


        <div class="item item-button-right">
            
            <button class="button button-positive">
                Follow
            </button>
        </div>

        <br>


        <div ng-repeat="project in summary.lastProjects">
            <div ng-include data-src="'templates/project/partial/project-view.html'"></div>
        </div>

        <div class="item item-divider">
            View all Projects...
        </div>



    </ion-content>
</ion-view>
