
<div class="card card-header" ng-controller="SurveyCardController" ng-click="goToCard(project.id, card.id)">
    <a class="item item-avatar item-avatar-icon calm">
        <i class="icon ion-stats-bars"></i>
        <h2>{{card.name}}</h2>
        <p>{{card.description}}</p>
    </a>
    <li class="item " ng-repeat="proposal in card.proposals">
        {{ proposal.name}}
        <span ng-class="['badge badge-palette-2', 'badge badge-palette-3', 'badge badge-palette-4', 'badge badge-palette-5', 'badge badge-palette-6'][$index]">
            {{proposal.votes}}</span>
    </li>
    <div class="item item-text-wrap">
        <p>
            <a href="#" class="subdued">{{card.contributions}} Votes</a>
        </p>
    </div>
</div>

