
<div class="card card-header" ng-controller="SurveyCardController" ng-click="goToCard(project.id, card.id)">
    <a class="item item-avatar item-avatar-icon calm">
        <i class="icon ion-stats-bars"></i>
        <h2>{{card.name}}</h2>
        <p>{{card.description}}</p>
    </a>
    <li class="item " ng-repeat="proposal in card.proposals">
        {{ proposal.name}}
        <span class="badge badge-calm">{{proposal.votes}}</span>
    </li>
    <div class="item item-text-wrap">
        <p>
            <a href="#" class="subdued">{{card.contributions}} Votes</a>
        </p>
    </div>
</div>

