
<div ng-controller="SurveyCardController">
	<a class="item item-avatar item-avatar-icon positive">
		<i class="icon ion-stats-bars"></i>
		<h2>{{summary.card.name}}</h2>
		<p>{{summary.card.description}}</p>
	</a>
	<div class="item">
		<canvas id="doughnut" class="chart chart-doughnut" data="summary.graphData.datas" labels="summary.graphData.labels" colours="summary.graphData.colours"></canvas>
	</div>
	<div ng-show="!summary.openForContribution">
		<li class="item" ng-repeat="proposal in summary.card.proposals">
			<h2>{{proposal.name}}</h2>
			<p>{{proposal.description}}</p>
			<span ng-class="['badge badge-palette-2', 'badge badge-palette-3', 'badge badge-palette-4', 'badge badge-palette-5', 'badge badge-palette-6'][$index]">
				{{proposal.votes}}</span>
		</li>
	</div>
	<div ng-show="summary.openForContribution">
		<li class="item item-checkbox" ng-repeat="proposal in summary.card.proposals">
			<label class="checkbox">
				<input type="checkbox" ng-model="proposal.selected" value="{{proposal.id}}">
			</label>
			<h2>{{proposal.name}}</h2>
			<p>{{proposal.description}}</p>
			<span class="badge badge-calm">{{proposal.votes}}</span>
		</li>
	</div>
	<div class="row">
		<div class="col col-center">
			<p class="statistic">
				<b>{{summary.card.contributions}}</b>
				<br>
			<p class="statistic-label">Votes</p>
			</p>
		</div>
		<div class="col">
		</div>
		<div class="col">
		</div>
	</div>

	<label class="item " ng-show="summary.openForContribution">
			<button class="button button-block button-outline button-positive" ng-click="vote(project, summary.card)">Vote</button>
		</label>
	</div>
	<div data-ng-include data-src="'templates/cards/date/date-card-contribution.html'"></div>
</div>


