

<div ng-controller="DateCardController">
	<a class="item item-avatar item-avatar-icon positive">
		<i class="icon ion-clock"></i>
		<h2>{{summary.card.name}}</h2>
		<p>{{summary.card.description}}</p>
	</a>
	<div class="item">
		<canvas id="doughnut" class="chart chart-doughnut" data="summary.graphData.datas" labels="summary.graphData.labels"></canvas>
	</div>
	<div ng-show="summary.card.open">
		<div ng-show="!summary.openForContribution">
			<li class="item" ng-repeat="proposal in summary.card.proposals">
				{{ proposal.date | date:'short' }}
				<span class="badge badge-calm">{{proposal.votes}}</span>
			</li>
		</div>
		<div ng-show="summary.openForContribution">
			<li class="item item-checkbox" ng-repeat="proposal in summary.card.proposals">
				<label class="checkbox">
					<input type="checkbox" ng-model="proposal.selected" value="{{proposal.id}}">
				</label>
				{{ proposal.date | date:'short' }}
				<span class="badge badge-calm">{{proposal.votes}}</span>
			</li>
		</div>
	</div>
	<div ng-show="!summary.card.open">
		Date is {{ summary.card.date | date:'short' }}
	</div>
	<div class="row">
		<div class="col col-center">
			<p class="statistic">
				<b>{{summary.card.contributions}}</b>
				<br>
			<p class="statistic-label">Votes</p>
			</p>

		</div>
		<div class="col">

		</div>
		<div class="col col-center" ng-click="vote(project, summary.card)">
			<button class="button button-clear button-positive" ng-show="summary.openForContribution">
				Vote
			</button>
		</div>
	</div>
	<div data-ng-include data-src="'templates/cards/date/date-card-contribution.html'"></div>
</div>





