<div ng-controller="EditDateCardController">

	<div class="item item-divider item-calm">
		<i class="icon ion-clock"></i> Date Card
	</div>
	<label class="item item-input"> <span class="input-label">Description</span>
		<input type="text" ng-model="card.name">
	</label>

	<li class="item item-toggle">
		<div ng-show="card.open">Open</div>
		<div ng-show="!card.open">Fixed</div> <label
		class="toggle toggle-assertive"> <input type="checkbox"
			ng-model="card.open">
			<div class="track">
				<div class="handle"></div>
			</div>
	</label>
	
	</li>
	
	<div ng-show="card.open">
	<a href="#" class="item item-button-right">
		<li class="button button-small"
		ng-click="addDateProposal()">Add</li> 
		Date Proposals
	</a>
		<ion-list show-delete="true" show-reorder="shouldShowReorder">
		<ion-item ng-repeat="proposal in card.proposals">
		{{proposal.date | date:'short' }} <ion-delete-button
			class="ion-minus-circled" ng-click="card.proposals.splice($index, 1)">
		</ion-delete-button> <ion-reorder-button class="ion-navicon"
			on-reorder="reorderItem(item, $fromIndex, $toIndex)">
		</ion-reorder-button> </ion-item> </ion-list>
	</div>
	
	
	<label class="item item-input" ng-show="!card.open"> <span
        class="input-label">Date</span> <input type="date"
        placeholder="Date" ng-model="card.date" />
      </label>

</div>









