


<div class="card card-header" ng-controller="DateCardController" ng-click="goToCard(project.id, card.id)">
    <a class="item item-avatar item-avatar-icon calm">
        <i class="icon ion-clock"></i>
        <h2>{{card.name}}</h2>
        <p>{{card.description}}</p>
    </a>
	<div ng-show="card.open">
  		<li class="item " ng-repeat="proposal in card.proposals">
		     {{ proposal.date | date:'short' }}
		     <span class="badge badge-calm">{{proposal.votes}}</span>
        </li>
	</div>
	<div ng-show="!card.open">
		Date is {{ card.date | date:'short' }}
	</div>
    <div class="item item-text-wrap">
        <p>
            <a href="#" class="subdued">{{card.contributions}} Votes</a>
        </p>
    </div>

</div>





