<div class="card event-header" ui-sref="event({ eventId: event.id })">
    <div class="item item-image event-image">
        <img src="img/themes/{{event.type}}-large.jpg" >
        <div class="event-title"><b>{{event.name}}</b></div>
        <div class="event-group">@{{::event.groupName}}</div>
    </div>
    <div class="item item-text-wrap">
        <i class="icon ion-android-calendar calm"></i><i> {{::event.date | date:'shortDate'}}</i>
        <br>
        <i class="icon ion-location calm"></i><i>  {{::event.city}}, {{::event.country}}</i>
    </div>
</div>