<div class="card event-header">


    <a class="item item-text-wrap" ui-sref="event({ eventId: event.id })">
        <h3><span class="calm" am-time-ago="event.date"></span></h3>
    </a>
    <a class="item item-avatar" ui-sref="event({ eventId: event.id })">
        <img ng-src="img/coffee-64-000000.png">
        <h2>{{::event.name}}</h2>
        <p>@{{::event.groupName}}</p>
    </a>
    <div class="item item-text-wrap">
        {{::event.description}} <br> <br>
        <p>
            <i class="icon ion-android-calendar subdued"> {{::event.date | date:'shortDate'}}</i>
            <br>
            <i class="icon ion-location"> {{::event.city}}, {{::event.country}}</i>
        </p>
    </div>
</div>
