

        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Event Name</span>
                <input type="text" placeholder="Type group event here..." ng-model="event.name">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input type="text" placeholder="Describe your event here..." ng-model="event.description">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Location</span>
                <input type="text" placeholder="Type event location here..." ng-model="event.city">
            </label>
        </div>
