
<div class="list">
    <label class="item item-input item-floating-label">
        <span class="input-label">Event Name</span>
        <input type="text" name="name" placeholder="Type group event here..." ng-model="event.name" ng-minlength="5" ng-maxlength="20" required>
    </label>
    <div ng-show="eventForm.$submitted && eventForm.name.$error" ng-messages="eventForm.name.$error">
        <ng-include src="'templates/common/validation-messages.html'"></ng-include>
    </div>
    <label class="item item-input item-floating-label">
        <span class="input-label">Description</span>
        <input type="text" name="description" placeholder="Describe your event here..." ng-model="event.description" ng-minlength="5" ng-maxlength="140" required>
    </label>
    <div ng-show="eventForm.$submitted && eventForm.description.$error" ng-messages="eventForm.description.$error">
        <ng-include src="'templates/common/validation-messages.html'"></ng-include>
    </div>
    <label class="item item-input item-floating-label">
        <span class="input-label">Location</span>
        <input type="text" name="location" placeholder="Type event location here..." ng-model="event.city" required>
    </label>
    <div ng-show="eventForm.$submitted && eventForm.location.$error" ng-messages="eventForm.location.$error">
        <ng-include src="'templates/common/validation-messages.html'"></ng-include>
    </div>

    <ionic-datepicker input-obj="datepickerObject">
    <a class="item item-icon-left" href="#">
            <i class="icon ion-android-calendar calm"></i>
            {{picker.date | date:'shortDate' : UTC}}
    </a>
    </ionic-datepicker>
    <ionic-timepicker input-obj="timePickerObject">
    <a class="item item-icon-left" href="#">
            <i class="icon ion-android-time calm"></i>
            {{picker.time | date:'shortTime' : 'UTC'}}
    </a>
    </ionic-timepicker>

</div>

<div class="list list-inset list-transparent" >
    <button class="button button-block button-calm" type="submit"><b>Apply</b></button>
</div>



