<div class="card event-header">


    <div class="item item-text-wrap">
        <h2>{{::event.date | date:'medium'}}</h2>
    </div>
    <a class="item item-avatar" ui-sref="event({ eventId: event.id })">
        <img ng-src="img/coffee-64-000000.png">
        <h2>{{::event.name}}</h2>
        <p>@{{::event.groupName}}</p>
    </a>
    <div class="item item-text-wrap">
        {{::event.description}} <br> <br>
        <i class="icon ion-location"> {{::event.city}}, {{::event.country}}</i>
        <p>
            <a href="#" class="subdued">{{::event.events}} Events</a>
            <a href="#" class="subdued">5 Comments</a>
        </p>
    </div>
</div>
