/* Empty. Add your own CSS if you like */



 .card-header{
     border-top: 5px solid #11c1f3;
 }

.statistic{
    margin: 0;
    color: #387ef5;
    text-align: center;
}

.statistic-label{
    margin: 0;
    text-align: center;
}

.item-avatar-icon i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}

.col-center{
    margin: 0;
    text-align: center;
}