@(loginForm: Form[AccountController.Login])
@import helper._
@import helper.twitterBootstrap._

@main("Please sign in") {
    @form(routes.AccountController.authenticate()) {



<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Sign In</h4>
            </div>
            <div class="panel-body">

                <form name="loginForm" class="form-horizontal" novalidate>

                    <div class="control-group">
                        <div class="controls">
                            <input type="email" name="email" placeholder="Enter email" class="form-control" value="@loginForm("email").value">
                        </div>
                    </div>
                    <br>
                    <div class="control-group">
                        <div class="controls">
                            <input type="password" name="password"  placeholder="Enter password" class="form-control">
                        </div>
                    </div>

                    <br>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                </form>
                <br>
                <a class="btn btn-primary btn-block" href="/signup">Create Free Account</a>
           </div>
        </div>

    </div>
    <div class="col-md-4"></div>
</div>



}
}
