@(title: String)(content: Html)

<!DOCTYPE html>

<html ng-app="FixIt">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    
    <script src="@routes.Assets.at("javascripts/jquery-1.11.1.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular-route.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular-animate.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/angular/ui-bootstrap-tpls-0.11.0.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/fixit.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/project-controllers.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/account-controllers.js")" type="text/javascript"></script>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.css")">
    <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>


  </head>

  <body>
      <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fix-It</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="@{if (title.equals("Home")) "active" else "inactive"}"><a href="@routes.ProjectController.projects()">Home</a></li>
            <li class="@{if (title.equals("Me")) "active" else "inactive"}"><a href="@routes.ProjectController.me()">Me</a></li>
            <li class="@{if (title.equals("New")) "active" else "inactive"}"><a href="@routes.ProjectController.newProject()">New Project</a></li>
            <li class="@{if (title.equals("Test")) "active" else "inactive"}"><a href="@routes.ProjectController.testProject()">Test</a></li>           
                     
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">@session().get("username") <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="@routes.AccountController.userProfile()">Edit Account</a></li>
                <li class="divider"></li>
                <li><a href="@routes.AccountController.logout()">logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

      <div class="container" ng-controller="FixItController" ng-init="init('@session().get("username")')">
        	@content
      </div><!--/.container-->

      <footer class="container">
        <p>&copy; Company 2014</p>
      </footer>
  </body>
  
</html>
