@(projectId: java.lang.String)

@import helper._

@main("New") {
    
<div ng-controller="ViewProjectController" ng-init="init('@projectId')">
    <div class="row">
        <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{project.name}}</h3>
                </div>
                <div class="panel-body">

                    <img src="@routes.Assets.at("images/photo-little.jpg")" alt="..." >
                    <div class="caption">
                        <h4>{{project.name}} <br> by {{project.username}} </h4>
                        <p>{{project.description}}</p>
                        <p>
                            <i class="glyphicon glyphicon-map-marker"></i>
                            {{project.city}}, {{project.country}}
                            <br>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Card
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <div ng-repeat="card in project.cards">
                                    <div ng-if="card.type == 'date' ">
                                        <div data-ng-include data-src="'/assets/partials/date-card-display.html'"></div>
                                    </div>
                                    <div ng-if="card.type == 'item' ">
                                        <div data-ng-include data-src="'/assets/partials/item-card-display.html'"></div>
                                    </div>
                                </div>
                            </ul>

                        </div>
                    </div>
                    <pre>form = {{project | json}}</pre>
                </div>

            </div>
        </div>

        <div class="col-md-4">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Contributions
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <ul class="list-group">
                            <div ng-repeat="card in project.cards">
                                <div ng-repeat="card in project.cards">
                                    <div ng-repeat="contribution in card.contributions ">
                                        <div ng-if="contribution.status != 'Canceled' ">
                                            <div ng-if="contribution.type == 'date' ">
                                                <div data-ng-include data-src="'/assets/partials/date-card-contribution.html'"></div>
                                            </div>
                                            <div ng-if="contribution.type == 'item' ">
                                                <div data-ng-include data-src="'/assets/partials/item-card-contribution.html'"></div>
                                            </div>
                                            <pre>form = {{contribution | json}}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>







</div>

 
    
}