
@main("Please sign up") {



<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <br>

        <div class="panel panel-default" ng-controller="SignUpController">
            <div class="panel-heading">
                <h4 class="panel-title">Create Free Account</h4>
            </div>
            <div class="panel-body">

                    <form name="signupForm" ng-submit="submitForm(signupForm.$valid)" novalidate>

                        <div class="form-group" ng-class="{ 'has-error' : signupForm.name.$invalid && !signupForm.name.$pristine }">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" ng-model="signupRequest.name" required>
                            <p ng-show="signupForm.name.$invalid && !signupForm.name.$pristine" class="help-block">You name is required.</p>
                        </div>

                        <!-- USERNAME -->
                        <div class="form-group" ng-class="{ 'has-error' : signupForm.username.$invalid && !signupForm.username.$pristine }">
                            <label>Username</label>
                            <input type="text" name="username" class="form-control" ng-model="signupRequest.username" ng-minlength="3" ng-maxlength="32">
                            <p ng-show="signupForm.username.$error.minlength" class="help-block">Username is too short.</p>
                            <p ng-show="signupForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                        </div>

                        <!-- EMAIL -->
                        <div class="form-group" ng-class="{ 'has-error' : signupForm.email.$invalid && !signupForm.email.$pristine }">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" ng-model="signupRequest.email">
                            <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="help-block">Enter a valid email.</p>
                        </div>
                        
                        
                        <!-- USERNAME -->
                        <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
                            <label>Username</label>
                            <input type="password" name="password" class="form-control" ng-model="signupRequest.password" ng-minlength="3" ng-maxlength="32">
                            <p ng-show="signupForm.username.$error.minlength" class="help-block">Password is too short.</p>
                            <p ng-show="signupForm.username.$error.maxlength" class="help-block">Password is too long.</p>
                        </div>


                        <!-- SUBMIT BUTTON -->
                        <button type="submit" class="btn btn-primary btn-block" ng-disabled="signupForm.$invalid">Sign Up</button>


                        <pre>signupRequest = {{signupRequest | json}}</pre>


                    </form>

            </div>
            <div class="panel-body">
                <a class="btn btn-primary btn-block" href="/login">Already member? Sign In.</a>
            <div>
        </div>



        <br>






    </div>
    <div class="col-md-4"></div>
</div>


}