@()

@import helper._

@main("Profile") {

<div ng-controller="EditAccountController" ng-init="init()">

<div class="row">
  <div class="col-md-4">
  
  	<div data-ng-include data-src="'/assets/partials/account/profile-summary.html'"></div>
	<br>
	<div class="list-group">
        <a href ng-click="section='account'" class="list-group-item" ng-class="{'active':section=='account'}">Account</a>
        <a href ng-click="section='password'" class="list-group-item" ng-class="{'active':section=='password'}">Password</a>
        <a href ng-click="section='notification'" class="list-group-item" ng-class="{'active':section=='notification'}">Email Notifications</a>
        <a href ng-click="section='profile'" class="list-group-item" ng-class="{'active':section=='profile'}">Profile</a>
    </div>

  </div>
  
  <div class="col-md-8">

      <div class="animate-switch-container" >
          <ng-switch on="section">
              <div class="animate-switch" ng-switch-when="account">
                  <div class="animate-switch" data-ng-include data-src="'/assets/partials/account/settings-account.html'"></div>
              </div>
              <div class="animate-switch" ng-switch-when="password">
                  <div class="animate-switch" data-ng-include data-src="'/assets/partials/account/settings-password.html'"></div>
              </div>
              <div class="animate-switch" ng-switch-when="notification">
                  notification section
              </div>
              <div class="animate-switch" ng-switch-when="profile">
                  <div class="animate-switch" data-ng-include data-src="'/assets/partials/account/settings-profile.html'"></div>
              </div>
              <div class="animate-switch" ng-switch-default>
                  <div data-ng-include data-src="'/assets/partials/account/settings-account.html'"></div>
              </div>
          </ng-switch>
      </div>
  </div>

</div>










    
    





 
    
}