<div class="card group-header">
    <a class="item item-avatar" ui-sref="group({ groupId: group.id })">
        <img ng-src="img/users/{{::group.username}}.jpg">
        <h2>{{::group.name}}</h2>
        <p>{{::group.username}}</p>
    </a>
    <div class="item item-text-wrap">
        {{::group.description}} <br> <br>
        <p>
            <i class="icon ion-location"> {{::group.city}}, {{::group.country}}</i>
            <br>
            <i class="icon ion-android-calendar subdued"> {{::group.eventSize}} Events</i>
        </p>
    </div>
</div>
