    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Type
                </div>
                <select ng-model="group.type">
                    <option>Coffee</option>
                    <option>Video-Game</option>
                    <option>Soccer</option>
                </select>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Group Name</span>
                <input type="text" name="name" placeholder="Type group name here..." ng-model="group.name" ng-minlength="5" ng-maxlength="20" required>
            </label>
            <div ng-show="groupForm.$submitted && groupForm.name.$error" ng-messages="groupForm.name.$error">
                <ng-include src="'templates/common/validation-messages.html'"></ng-include>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input type="text" name="description" placeholder="Describe your group here..." ng-model="group.description" ng-minlength="5" ng-maxlength="140" required>
            </label>
            <div ng-show="groupForm.$submitted && groupForm.description.$error" ng-messages="groupForm.description.$error">
                <ng-include src="'templates/common/validation-messages.html'"></ng-include>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">Location</span>
                <input type="text" name="location" placeholder="Type group location here..." ng-model="group.city" required>
            </label>
            <div ng-show="groupForm.$submitted && groupForm.location.$error" ng-messages="groupForm.location.$error">
                <ng-include src="'templates/common/validation-messages.html'"></ng-include>
            </div>
        </div>
    </ion-content>
