<ion-view title="Tester" class="view-positive"> <ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons> 


<ion-content class="has-header">
<span class="waves-effect waves-classic">
    <button class="button">sss</button>
</span>
    <div class="item item-divider ">
        <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="location" />
    </div>
        <div class="item item-divider">
            <button class="button button-block button-positive " ng-click="inAppBrowser()">inAppBrowser</button>
        </div>
    <a class="item" href="#" onclick="window.open('http://www.nraboy.com/contact', '_system', 'location=yes'); return false;">
        Open a Browser
    </a>
		<div class="item item-divider">
			<button class="button button-block button-positive " ng-click="callToast()">Toast</button>
		</div>
	
	
        <div class="item item-divider">
			<button class="button button-block button-positive" ng-click="callDatePicker()">Date Picker</button>
		</div>
        <div class="item item-divider">
            <button class="button button-energized" ng-click="addImage()">
                Add image
            </button>
        </div>


    <br>
    <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>



    <br>
		
      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

        <ion-item ng-repeat="item in items" 
                  item="item"
                  href="#/item/{{item.id}}" class="item-remove-animate">
          Item {{ item.id }}
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(item)">
          </ion-delete-button>
          <ion-option-button class="button-assertive"
                             ng-click="edit(item)">
            Edit
          </ion-option-button>
          <ion-option-button class="button-calm"
                             ng-click="share(item)">
            Share
          </ion-option-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>

      </ion-list>

    <p class="text-center">
        <a class="waves-effect waves-button waves-float waves-classic" style="background: #01BCFF;color:#fff">Button A</a>
        <button class="waves-effect waves-button waves-light waves-float" style="background: #1bb556;color: #fff;">Button B</button>
        <input class="waves-effect waves-button waves-float" style="background: #ff4f0f;color:#fff" type="submit" value="Button C">
    </p>
    <span class="waves-effect waves-classic">
        <button class="button">Hello</button>
    </span>


</ion-content>