<style>

    .module .avatar {
        border-radius: 50%;
        box-shadow: 0 0 0 3px #fff, 0 0 0 2px #999, 0 2px 5px 4px rgba(0,0,0,.2);

        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 15px;

    }

    .module {
        background:
        linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0.4)
        ),
        url('img/bg-1.jpg') center;
        height: 200px;
        position: relative;
        overflow: hidden;
        border-bottom: 5px solid #dddddd;
    }
    .module > header {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding:20px 10px;
        text-align: center;
    }
    .module > header > h3  {
        margin: 0;
        color: white;
        text-shadow: 0 1px 0 black;
    }
    .module > header > h5  {
        margin: 0;
        color: white;
        text-shadow: 0 1px 0 black;
    }

    .statistic{
        margin: 0;
        color: #387ef5;
        text-align: center;
    }
    .statistic-label{
        margin: 0;
        text-align: center;
    }

    .card-header{
        border-left: 5px solid #387ef5
    }


</style>



<ion-view title="Profile">

    <ion-nav-buttons side="left">
    </ion-nav-buttons>

    <ion-content class="has-header">


        <div class="card" style="border-left: 5px solid #387ef5;">

            <a class="item item-avatar" ui-sref="app.project-single({ projectId: project.id })">
                <img ng-src="img/antoinelefebvre.jpg">
                <h2>Poker Night{{::project.name}}</h2>
                <p>antoinelefebvre{{::project.username}}</p>
            </a>
            <div class="item item-text-wrap">
                This is going to be a great.{{::project.description}} <br> <br>
                <i class="icon ion-location"> San Francisco{{::project.city}}, United States{{::project.country}}</i>
            </div>
            <div class="row">
                <div class="col">
                    <p class="statistic">
                        <b>543{{::project.contributions}}</b>
                        <br>
                    <p class="statistic-label">Contributions</p>
                </div>
                <div class="col">
                    <p class="statistic">
                        <b>12</b>
                        <br>
                    <p class="statistic-label">Comments</p>
                </div>
                <div class="col" ng-click="provide(project, summary.card)">
                    <button class="button button-clear button-positive">
                        Contribute
                    </button>
                </div>
            </div>
        </div>




        <a class="item item-icon-right" href="#">
            View all Projects...
            <span class="icon ion-chevron-right positive"></span>
        </a>


        <div class="item item-divider item-icon-right" >
            <i class="icon ion-chevron-right positive"></i>

            View all Projects...
        </div>

        <div class="card" style="border-top: 5px solid #11c1f3;">
            <a class="item " href="#/app/projects/{{project.id}}/cards/{{summary.card.id}}">
                <i class="icon ion-bag calm"> Item:</i>
                {{summary.card.name}} Poker chips
            </a>
            <div class="item item-text-wrap">
                <div >
                    Required : 12{{summary.card.minimumItem}}
                    <br>
                </div>
                Provided : 11{{summary.card.items}}
                <div >
                    Remaining : 1{{summary.card.maximumItem - summary.card.items}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="statistic calm">
                        <b>543</b>
                        <br>
                    <p class="statistic-label">Contributions</p>
                </div>
                <div class="col" ng-click="provide(project, summary.card)">
                    <button class="button button-clear button-positive">
                        Provide Item
                    </button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
