<style>
    #map_canvas {
        width: 100%;
        height: 100%;
        margin: 0;
        position: relative;
    }

    .scroll {
        height: 100%;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }


</style>



<ion-view title="Map">
    <ion-content data-tap-disabled="true">

        <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.markersEvents">
        </ui-gmap-google-map>

    </ion-content>
    <ion-footer-bar class="bar-stable">
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
    </ion-footer-bar>
</ion-view>
